@font-face {
  font-family: "neue-haas-display-thin";
  src: url("../fonts/neue/NeueHaasDisplayThin.ttf");
  font-style: normal;
  font-weight: 100;
  font-display:swap;
}

@font-face {
  font-family: "neue-haas-display-light";
  src: url("../fonts/neue/NeueHaasDisplayLight.ttf");
  font-style: normal;
  font-weight: 200;
  font-display:swap;

}

@font-face {
  font-family: "neue-haas-display-roman";
  src: url("../fonts/neue/NeueHaasDisplayRoman.ttf");
  font-style: normal;
  font-weight: 400;
  font-display:swap;

}

@font-face {
  font-family: "neue-haas-display-medium";
  src: url("../fonts/neue/NeueHaasDisplayMedium.ttf");
  font-style: normal;
  font-weight: 600;
  font-display:swap;

}

@font-face {
  font-family: "neue-haas-display-bold";
  src: url("../fonts/neue/NeueHaasDisplayBold.ttf");
  font-style: normal;
  font-weight: 700;
  font-display:swap;

}

@font-face {
  font-family: "neue-haas-display-black";
  src: url("../fonts/neue/NeueHaasDisplayBlack.ttf");
  font-style: normal;
  font-weight: 900;
  font-display:swap;

}


@font-face {
  font-family: "worksans-thin";
  src: url("../fonts/work-sans/WorkSans-Thin.ttf");
  font-style: normal;
  font-weight: 100;
  font-display:swap;

}

@font-face {
  font-family: "worksans-light";
  src: url("../fonts/work-sans/WorkSans-Light.ttf");
  font-style: normal;
  font-weight: 200;
  font-display:swap;

}

@font-face {
  font-family: "worksans-regular";
  src: url("../fonts/work-sans/WorkSans-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display:swap;

}

@font-face {
  font-family: "worksans-medium";
  src: url("../fonts/work-sans/WorkSans-Medium.ttf");
  font-style: normal;
  font-weight: 500;
  font-display:swap;

}

@font-face {
  font-family: "worksans-semibold";
  src: url("../fonts/work-sans/WorkSans-SemiBold.ttf");
  font-style: normal;
  font-weight: 600;
  font-display:swap;

}

@font-face {
  font-family: "worksans-bold";
  src: url("../fonts/work-sans/WorkSans-Bold.ttf");
  font-style: normal;
  font-weight: 700;
  font-display:swap;

}

@font-face {
  font-family: "worksans-extrabold";
  src: url("../fonts/work-sans/WorkSans-ExtraBold.ttf");
  font-style: normal;
  font-weight: 900;
  font-display:swap;

}